:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: .9rem;
  padding: 0 1em;
  color: light-dark(rgb(30, 30, 30), rgb(220, 220, 220));
  background-color: light-dark(#f7f7f7, rgb(30, 40, 50));
}

#wrapper {
  max-width: 40rem;
  min-width: 30rem;
  margin: 1em auto;
}

#permission-error {
  color: red;
  display: none;
  margin: 0 0 2em;
  padding: 1em;
  border: 1px solid red;
  border-radius: 0.5em;
  background-color: light-dark(rgb(255, 220, 220), rgb(255, 220, 220));
  text-align: center;
  font-weight: bold;
}

p {
  margin: .5em 0 1.5rem;
  text-wrap: pretty;
}

.footer {
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;

  a {
    flex: 1 1 auto;
  }
}

h1 {
  text-wrap: balance;
  font-size: 1.2rem;
}

kbd {
  background-color: light-dark(#eee, rgb(50, 60, 70));
  border: 1px solid light-dark(#ccc, rgb(80, 80, 80));
  border-radius: 0.5em;
  padding: 0.2em 0.5em;
  font-size: 0.85em;
  font-family: monospace;
  margin: 0 0.2em;
  white-space: nowrap;
}

a {
  text-decoration: none;
  padding: .5em;
  display: inline-block;
  color: light-dark(rgb(108, 128, 144), rgb(129, 165, 255));
  border-radius: 0.5em;
  border: 1px solid light-dark(rgba(0, 0, 0, 0.1), rgba(80, 90, 100, 1));

  span {
    white-space: nowrap;
  }

  &:hover {
    background-color: light-dark(rgb(100, 105, 110), white);
    color: light-dark(white, black);
  }
}

fieldset {
  border: 1px solid light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  padding: 1em;
  border-radius: 0.5em;
}

form {
  display: grid;
  flex-wrap: wrap;
  gap: .5rem 1.5rem;
  justify-content: space-between;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.defaults-note {
  grid-column: 1 / -1;
}

label {
  font-weight: bold;
  grid-column: span 1;
}

input, button {
  border: 1px solid light-dark(#ccc, rgb(80, 90, 100));
  background-color: light-dark(#fff, rgb(50, 60, 70));
}

input {
  display: block;
  padding: 0.5em;
  width: 100%;
  border-radius: 0.5em;
  font-size: 1em;
}

button {
  grid-column: span 1;
  padding: 0.5em;
  font-size: 1em;
  border-radius: 0.5em;
  min-height: 2.5em;

  &#save {
    color: white;
    background-color: light-dark(rgb(100, 105, 150), rgb(100,100,200));

    &:hover {
      background-color: light-dark(black, white);
      color: light-dark(white, black);
    }
  }

  &#request-permission-btn {
    display: block;
    margin: 1em auto 0;
  }
}
